<tr>
<td><%= sale_menu_item['id'] %></td>
<td><%= sale_menu_item['menu_item_details']['name'] %></td>
<td><%= sale_menu_item['menu_item_details']['unit_price'] %></td>
<td><%= sale_menu_item['menu_item_details']['unit'] %></td>
<td><%= sale_menu_item['menu_item_details']['klass'] %></td>
<td><%= sale_menu_item['quantity'] %></td>
<td><%= link_to sale_menu_item['sale']['customer_id'], user_path(sale_menu_item['sale']['customer_id']), remote: true %></td>
<td><%= link_to sale_menu_item['pender_id'], user_path(sale_menu_item['pender_id']), remote: true %></td>
<td><%= link_to sale_menu_item['processor_id'], user_path(sale_menu_item['processor_id']), remote: true %></td>
<td><%= link_to sale_menu_item['maker_id'], user_path(sale_menu_item['maker_id']), remote: true %></td>
<td><%= link_to sale_menu_item['deliverer_id'], user_path(sale_menu_item['deliverer_id']), remote: true %></td>
<td><%= link_to sale_menu_item['saver_id'], user_path(sale_menu_item['saver_id']), remote: true %></td>
<td><%= sale_menu_item['sale']['invoice_number']%></td>
<td><%= sale_menu_item['updated_at'] %></td>
<td><%= sale_menu_item['created_at'] %></td>
</tr>
