<% case sale_menu_item['menu_item_details']['klass'] %>
<% when 'food' %>
<tr >
<% when 'drink' %>
<tr class="info">
<% when 'service' %>
<tr class="warning">
<% else %>
<tr >
<% end %>
<td><%= sale_menu_item['id'] %></td>
<td><%= link_to 'Remove', sale_menu_item_path(sale_menu_item['id']), data: {:confirm => 'Are you sure?'}, :method => :delete, remote: true %></td>
<td>
  <%= link_to sale_menu_item['sale']['invoice_number'], 'javascript:;', onclick: "showSale(#{sale_menu_item['sale']['id']})" %>
</td>
<td><%= sale_menu_item['menu_item_details']['name'] %></td>
<td><%= sale_menu_item['menu_item_details']['category']['name'] %></td>
<td><%= sale_menu_item['menu_item_details']['klass'] %></td>
<td><%= sale_menu_item['menu_item_details']['mtype'] %></td>
<td><%= sale_menu_item['quantity'] %></td>
<td><%= sale_menu_item['quantity'].to_f*sale_menu_item['menu_item_details']['unit_price'].to_f %></td>
<td><%= render_state(sale_menu_item['state']) %></td>
<td>
  <%= link_to sale_menu_item['customer']['email'], user_path(sale_menu_item['sale']['customer_id']), remote: true %>
  <br />
  <%= sale_menu_item['customer']['first_name'] %> <%= sale_menu_item['customer']['last_name'] %>
</td>
<td>
  <% begin %>
    <%= link_to sale_menu_item['pender']['email'], user_path(sale_menu_item['pender_id']), remote: true %>
    <br />
    <%= sale_menu_item['pender']['first_name'] %> <%= sale_menu_item['pender']['last_name'] %>
  <% rescue %>
    N/A
  <% end %>
</td>
<td><%= Time.parse(sale_menu_item['sale']['pending_at']).in_time_zone(7) if sale_menu_item['sale']['pending_at'] %></td>
<td>
  <% begin %>
    <%= link_to sale_menu_item['processor']['email'], user_path(sale_menu_item['processor_id']), remote: true %>
    <br />
    <%= sale_menu_item['processor']['first_name'] %> <%= sale_menu_item['processor']['last_name'] %>
  <% rescue %>
    N/A
  <% end %>
</td>
<td><%= Time.parse(sale_menu_item['sale']['processing_at']).in_time_zone(7) if sale_menu_item['sale']['processing_at'] %></td>
<td>
  <% begin %>
    <%= link_to sale_menu_item['maker']['email'], user_path(sale_menu_item['maker_id']), remote: true %>
    <br />
    <%= sale_menu_item['maker']['first_name'] %> <%= sale_menu_item['maker']['last_name'] %>
  <% rescue %>
    N/A
  <% end %>
</td>
<td><%= Time.parse(sale_menu_item['cooking_at']).in_time_zone(7) if sale_menu_item['cooking_at'] %></td>
<td><%= Time.parse(sale_menu_item['done_at']).in_time_zone(7) if sale_menu_item['done_at'] %></td>
<td>
  <% begin %>
    <%= link_to sale_menu_item['deliverer']['email'], user_path(sale_menu_item['deliverer_id']), remote: true %>
    <br />
    <%= sale_menu_item['deliverer']['first_name'] %> <%= sale_menu_item['deliverer']['last_name'] %>
  <% rescue %>
    N/A
  <% end %>
</td>
<td><%= Time.parse(sale_menu_item['delivering_at']).in_time_zone(7) if sale_menu_item['delivering_at'] %></td>
<td><%= Time.parse(sale_menu_item['delivered_at']).in_time_zone(7) if sale_menu_item['delivered_at'] %></td>
<% if false %>
<td>
  <% begin %>
    <%= link_to sale_menu_item['saver']['email'], user_path(sale_menu_item['saver_id']), remote: true %>
    <br />
    <%= sale_menu_item['saver']['first_name'] %> <%= sale_menu_item['saver']['last_name'] %>
  <% rescue %>
    N/A
  <% end %>
</td>
<td><%= Time.parse(sale_menu_item['saved_at']).in_time_zone(7) if sale_menu_item['saved_at'] %></td>
<% end %>
</tr>
