<tr>
  <td><%= menu_item['name'] %></td>
  <td><%= menu_item['category'] %></td>
  <td><%= menu_item['klass'] %></td>
  <td><%= menu_item['mtype'] %></td>
  <td><%= menu_item['quantity'] %></td>
  <td><%= menu_item['total_price'] %></td>
</tr>
