<div class="content">
  <h1> Menu Items </h1>
  <%= button_to 'Add MenuItem', new_menu_item_path, class: "btn btn-large btn-default", method: :get %>
  <br />
  <table id="menu-items-table" class="display">
    <thead>
      <th>Id</th>
      <th>Action</th>
      <th>Name</th>
      <!-- <th>Description</th> -->
      <th>Menu Type</th>
      <th>State</th>
      <th>Unit Price</th>
      <th>Unit</th>
      <th>Category</th>
      <th>Need Cook</th>
      <th>Image</th>
      <th>Updated At</th>
      <th>Created At</th>
    </thead>
    <tbody>
      <% if @menu_items %>
        <% @menu_items.each do |menu_item| %>
          <tr>
            <td><%= menu_item['id'] %></td>
            <td>
              <%= link_to 'Edit', edit_menu_item_path(menu_item['id']), target: "_blank" %>
              <%= link_to 'Remove', menu_item_path(menu_item['id']), :confirm => 'Are you sure?', :method => :delete, remote: true %>
            </td>
            <td><%= menu_item['name'] %></td>
            <% if false %>
            <td><%= menu_item['description'] %></td>
            <% end %>
            <td><%= menu_item['mtype'] %></td>
            <td><%= menu_item['state'] %></td>
            <td><%= menu_item['unit_price'] %></td>
            <td><%= menu_item['unit'] %></td>
            <td><%= menu_item['category']['name'] %></td>
            <td><%= menu_item['need_cook'] %></td>
            <td><%= image_tag menu_item['image_url'], style: "width: 200px;" %></td>
            <td><%= menu_item['updated_at'] %></td>
            <td><%= menu_item['created_at'] %></td>
          </tr>
        <% end %>
      <% end%>
    </tbody>
  </table>

  <script>
    $(document).ready(function(){
      $('#menu-items-table').DataTable();
    });
  </script>
</div>
