<script type="text/javascript">
var staff_channel = dispatcher.subscribe('staff');
var stack_context = {"dir1": "down", "dir2": "left", "push": "bottom", "spacing1": 5, "spacing2": 5}
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="chef-pages">
        <div class="row tabs-row">
          <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
            <div class="tab-list active" aria-control="tab-order-saved">
              DANH SÁCH ORDER <label class="badge badge-danger notify-order-not_saved notify-order"><%= @sales_not_saved.count %></label>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
            <div class="tab-list" aria-control="tab-order-done">
              ORDER ĐÃ LƯU <label class="badge badge-danger notify-order-saved notify-order"><%= @sales_saved.count %></label>
            </div>
          </div>
        </div>
        <div class="row tabs-content">
          <div class="col-sm-12">
            <div style='padding: 15px'>
              <div class="tab-content" id="tab-order-saved">
                <%= render 'order_not_saved' %>
              </div>
              <div class="tab-content" id="tab-order-done">
                <%= render 'order_saved' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container copyright'>
  <small>Copyright <i class='fa fa-copyright'></i> ABCDEF</small>
</div>
<div class="panel-notifications <%= 'active' if @sales_saved.count + @sales_not_saved.count > 0 %> <%= 'minimize' if @sales_saved.count + @sales_not_saved.count == 0 %>">
  <div class='panel-notification-heading'>
    <label class="badge badge-danger notify-order notify-order-all"><%= @sales_saved.count + @sales_not_saved.count %></label>
    <span class="heading-title">Thông báo</span>
    <i class="fa fa-caret-down"></i>
  </div>
  <div class="panel-notification-body">
    <% @sales.each do |sale| %>
    <% if ['init'].include?(sale['state']) %>
    <div sale-id='<%= sale['id'] %>' class='notification-content'>
      <div class='row'>
        <div class='col-lg-3 col-md-3 col-sm-3 no-padding'>
          <center>
            <i class='fa fa-desktop'></i>
            <br>
            <label class='label label-primary computer-name'><%= "Máy x" %>
            </label>
          </center>
        </div>
        <div class='col-lg-9 col-md-9 col-sm-9 no-padding'>
          <div class='alert alert-info'>
            Có <b>ORDER MỚI</b>.
          </div>
        </div>
      </div>
    </div>
    <% elsif ['delivered'].include?(sale['state']) %>
    <div sale-id='<%= sale['id'] %>' class='notification-content'>
      <div class='row'>
        <div class='col-lg-3 col-md-3 col-sm-3 no-padding'>
          <center>
            <i class='fa fa-desktop'></i>
            <br>
            <label class='label label-primary computer-name'><%= "Máy x" %>
            </label>
          </center>
        </div>
        <div class='col-lg-9 col-md-9 col-sm-9 no-padding'>
          <div class='alert alert-success'>
            <b>ORDER</b> đã được giao cho khách
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<script>
$(document).ready(function () {
  if($(".table-order-not_saved .order-row").length + $(".table-order-saved .order-row").length > 0){
    $(".notify-order-all").fadeIn(0)
  }
  else{
    $(".notify-order-all").fadeOut(0)
  }
});

$(".panel-notification-body").niceScroll({horizrailenabled: false, cursorcolor:"rgba(0, 0, 0, 0.5)", cursorwidth: "9px"})

$(".tab-list").click(function(){
  $(".tab-list").removeClass("active")
  $(this).addClass("active")
  tab_id = $(this).attr("aria-control")
  $(".tab-content").fadeOut(0)
  $("#"+tab_id).fadeIn(300)
})

$(".panel-notification-heading").click(function(){
  if($(this).parents(".panel-notifications").hasClass("minimize")){
    $(this).children(".fa").addClass("fa-caret-down").removeClass("fa-caret-up")
    $(this).parents('.panel-notifications').removeClass("minimize")
  }
  else{
    $(".panel-notification-heading .fa").parents(".panel-notifications").addClass("minimize")
    $(this).children(".fa").removeClass("fa-caret-down").addClass("fa-caret-up")
    $(this).parents('.panel-notifications').addClass("minimize")
  }
})

staff_channel.bind("next_state_sale",function(data) {
  updated = render_label_state(data['sale']['state'])
  updated_at = "<span style='display:none'>"+data['sale']['order_updated_at']+"</span>" + data['sale']['format_updated_at']
  oTable.fnUpdate(updated_at, $('tr.row-sale[sale-id='+data['sale']['id']+']'), 3 );
  oTable.fnUpdate(updated, $('tr.row-sale[sale-id='+data['sale']['id']+']'), 5 );
  if(data['sale']['state'] == "delivered") {
    $(function(){
      oTable.fnUpdate(updated, $('tr.row-sale[sale-id='+data['sale']['id']+']'), 5 );
    });
  }
});

staff_channel.bind("create_sale",function(data) {
  $(function(){

  });
});

staff_channel.bind("next_state_sale_menu_item",function(data) {
  $(function(){
    if(data['sale']['state'] == "saved") {
      $(function(){

      });
    }
  });
});

var sale_details_id;

$(".chef-pages").on("click", ".show-sale-details", function(){
  sale_details_id = $(this).attr("sale-id")
  $('.launch-modal').html("<%=j render 'cashier_pages/modal_sale_details' %>")
  $("#modal-sale-details").modal({
    keyboard: true,
    backdrop: 'static'
  })
})

function render_label_state(state){
  switch(state) {
    case "init":
      return "<center><label class='label label-default'>Order mới</label></center>"
      break;
    case "pending":
      return "<center><label class='label label-info'>Đang lấy tiền</label></center>"
      break;
    case "processing":
      return "<center><label class='label label-primary'>Đã lấy tiền</label</center>>"
      break;
    case "cooking":
      return "<center><label class='label label-warning'>Đang làm</label></center>"
      break;
    case "done":
      return "<center><label class='label label-danger'>Làm xong</label></center>"
      break;
    case "delivering":
      return "<center><label class='label label-success'>Đang giao</label></center>"
      break;
    case "delivered":
      return "<center><label class='label label-green'>Đã giao</label></center>"
      break;
    default:
      return "<center><label class='label label-inverse'>Đã lưu</label></center>"
  }
}
</script>
