<script type="text/javascript">
var staff_channel = dispatcher.subscribe('staff');
var stack_context = {"dir1": "down", "dir2": "left", "push": "bottom", "spacing1": 5, "spacing2": 5}
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="cashier-pages">
        <div class="row tabs-row">
          <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
            <div class="tab-list active" aria-control="tab-order-saved">
              DANH SÁCH ORDER
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
            <div class="tab-list" aria-control="tab-order-done">
              ORDER ĐÃ LƯU
            </div>
          </div>
        </div>
        <div class="row tabs-content">
          <div class="col-sm-12">
            <div style='padding: 15px'>
              <div class="tab-content" id="tab-order-saved">
                <%= render 'order_not_saved' %>
              </div>
              <div class="tab-content" id="tab-order-done">
                <%= render 'order_saved' %>
              </div>
            </div>
          </div>
          <br>
          <center>
            <a data-method="DELETE" href="/sessions">Đăng xuất</a>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  if($("#table-order-not-saved .row-sale.sale-init").length + $("#table-order-not-saved .row-sale.sale-delivered").length > 0){
    $(".notify-order-all").fadeIn(0)
  }
  else{
    $(".notify-order-all").fadeOut(0)
  }
  set_notifications_number()
});

setInterval(function(){
  if(window.confirm("Bạn có muốn tải lại trang này không? (Tải lại sẽ giúp bạn cập nhật được order mới)")){
    if (typeof not_saved_table != 'undefined'){
      not_saved_table.fnDestroy()
    }
    $("#table-order-not-saved tbody").html('<tr><td colspan="6"><center><i class="fa fa-spin fa-spinner" style="margin-right: 5px"></i> Đang tải dữ liệu</center></td></tr>')
    $.ajax({
      type: "GET",
      dataType: "script",
      url: "<%= not_saved_sales_cashier_pages_path %>"
    });
  }
}, 1000 * 3600 * 5);


$(".tab-list").click(function(){
  $(".tab-list").removeClass("active")
  $(this).addClass("active")
  tab_id = $(this).attr("aria-control")
  $(".tab-content").fadeOut(0)
  $("#"+tab_id).fadeIn(300)
  if(tab_id == "tab-order-done"){
    if(window.confirm("Bạn có muốn tải lại trang này không? (Tải lại sẽ giúp bạn cập nhật được order mới lưu)")){
      if (typeof saved_table != 'undefined'){
        saved_table.fnDestroy()
      }
      $("#table-order-saved tbody").html('<tr><td colspan="6"><center><i class="fa fa-spin fa-spinner" style="margin-right: 5px"></i> Đang tải dữ liệu</center></td></tr>')
      $.ajax({
        type: "GET",
        dataType: "script",
        url: "<%= saved_sales_cashier_pages_path %>"
      });
    }
  }
})

function render_label_state(state){
  switch(state) {
    case "init":
    return "<center><label class='label label-default'>Order mới</label></center>"
    break;
    case "pending":
    return "<center><label class='label label-info'>Đang lấy tiền</label></center>"
    break;
    case "processing":
    return "<center><label class='label label-primary'>Đã lấy tiền</label</center>"
    break;
    case "cooking":
    return "<center><label class='label label-warning'>Đang làm</label></center>"
    break;
    case "done":
    return "<center><label class='label label-danger'>Làm xong</label></center>"
    break;
    case "delivering":
    return "<center><label class='label label-success'>Đang giao</label></center>"
    break;
    case "delivered":
    return "<center><label class='label label-green'>Đã giao</label></center>"
    break;
    default:
    return "<center><label class='label label-inverse'>Đã lưu</label></center>"
  }
}

function set_notifications_number(){
  notifications_number = $(".row-sale.sale-init").length + $(".row-sale.sale-delivered").length
  if(notifications_number > 0)
  {
    $(".notify-order-all").fadeIn(0)
    $(".notify-order-all").text(notifications_number)
  }
  else{
    $(".notify-order-all").fadeOut(0)
  }
}

var showSale = function(id){
    $('.launch-modal').html("<%=j render 'sales/modal_sale_details' %>");
    $('#modal-sale-details').attr("sale-id", id);
    $("#modal-sale-details").modal({
      keyboard: true,
      backdrop: 'static'
    });
  }
</script>
