<div class='container customer-wrapper'>
  <div class="col-lg-2 col-md-2 customer-select">
    <center>
      <div class='logo'>
      </div>
      <div class="customer-food-type customer-foods active" data-type="foods">
        <h4 class="customer-food-label active">ĐỒ ĂN</h4>
      </div>
      <div class="customer-food-type customer-drinks" data-type="drinks">
        <h4 class="customer-food-label">ĐỒ UỐNG</h4>
      </div>
      <div class="customer-food-type customer-services" data-type="services">
        <h4 class="customer-food-label">DỊCH VỤ</h4>
      </div>
      <div class="customer-food-type customer-support" data-type="support">
        <h4 class="customer-food-label">HỖ TRỢ</h4>
      </div>
    </center>
  </div>
  <div class="col-lg-6 col-md-6 customer-menu">
    <div class="menu-lists">
      <%= render 'customer_ordering/foods_menu' %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 customer-ordering">
    <%= render 'customer_ordering/customer_order' %>
  </div>
</div>

<script type="text/javascript">
$(".customer-food-type").click(function(){
  $(".customer-food-type").removeClass("active")
  $(this).addClass("active")
  $(".customer-food-label").removeClass("active")
  $(this).children(".customer-food-label").addClass("active")

  data_type = $(this).attr("data-type")

  switch(data_type) {
    case "foods":
    $(".menu-lists").html("<%=j render partial: 'customer_ordering/foods_menu' %>")
    break;
    case "drinks":
    $(".menu-lists").html("<%=j render 'customer_ordering/drinks_menu' %>")
    break;
    default:
    $(".menu-lists").html("<%=j render 'customer_ordering/services_menu' %>")
  }
})

var order_row = 0;

$(".customer-menu").on("click", ".customer-service", function(){
  service_name = $(this).attr("data-service-name")
  service_id = $(this).attr("data-service-id")
  service_price = $(this).attr("data-service-price")
  service_price_format = $(this).attr("data-service-price-format")
  service_type  = $(this).attr("data-service-type")

  element = $("#row-service-"+service_type+"-"+service_id)
  if(element.length == 0 ){
    $("#no-choice").fadeOut(100)
    append_row = "<tr id='row-service-"+service_type+"-"+service_id+"' menu-item-id='"+service_id+"' class='row-service'><td class='order-service-name'><b>"+ service_name +"</b><br><p class='note-for-service' data-placement='left' style='font-size: 10px; margin-bottom: 3px'></p><a style='font-size: 10px' href='javascript:;' class='add-note-service'><i class='fa fa-pencil' style='margin-right: 3px'></i> Ghi chú</a></td><td class='order-service-price' data-price='"+service_price+"'>"+ service_price_format +"</td><td class='order-service-quantity'><span class='quantity-text'>1</span><div class='btn-group-vertical pull-right'><button type='button' class='btn-add-quantity btn btn-primary btn-xs'><i class='fa fa-plus'></i></button><button type='button' class='btn btn-danger btn-minus-quantity btn-xs'><i class='fa fa-minus'></i></button></div></td></tr>"
    $("#no-choice").before(append_row)
    $('.customer-table table').bootstrapTable('resetView');
    order_row += 1
  }
  else{
    quantity = parseInt(element.children(".order-service-quantity").children('.quantity-text').text()) + 1
    element.children(".order-service-quantity").children('.quantity-text').text(quantity)
  }
  $("a[href='#orders-tab']").click();
  get_total_price();
  if(order_row >= 5){
    $("#orders-tab .customer-table .bootstrap-table").css("box-shadow", "0 9px 9px -6px rgba(0,0,0,0.5)")
  }
})

$(".customer-table").on("click", ".btn-add-quantity", function(){
  old_quantity = parseInt($(this).parents(".order-service-quantity").children(".quantity-text").text())
  $(this).parents(".order-service-quantity").children(".quantity-text").text(old_quantity + 1)
  get_total_price()
})

$(".customer-table").on("click", ".add-note-service", function(){
  $('.launch-modal').html("<%=j render 'modal_note_for_service' %>")
  $("#modal-note-for-service").modal({
    keyboard: true,
    backdrop: 'static'
  })
  note_service_id = $(this).parents(".row-service").attr("menu-item-id")
  note_text = $(this).siblings(".note-for-service").attr("data-original-title")
  $(".note-for-service-text").val(note_text)
  $(".note-for-service-text").attr("service-id", note_service_id)
})

$(".customer-table").on("click", ".btn-minus-quantity", function(){
  old_quantity = parseInt($(this).parents(".order-service-quantity").children(".quantity-text").text())
  if((old_quantity - 1) == 0){
    $(this).parents(".row-service").remove()
    order_row -= 1
  }
  $(this).parents(".order-service-quantity").children(".quantity-text").text(old_quantity - 1)
  $('.customer-table table').bootstrapTable('resetView');
  check_count_service_order()
  get_total_price()
  if(order_row < 5){
    $("#orders-tab .customer-table .bootstrap-table").css("box-shadow", "0 9px 9px -6px rgba(0,0,0,0.0)")
  }
})

function get_total_price(){
  sum = 0;
  $(".order-service-price").each(function(){
    quantity = parseInt($(this).siblings('.order-service-quantity').children('.quantity-text').text())
    price = parseInt($(this).attr("data-price")) * quantity
    sum += price
  })
  $(".total-price").text(number_format(sum))
}


function check_count_service_order(){
  if($(".row-service").length == 0)
    $("#no-choice").fadeIn(100)
  else
    $("#no-choice").fadeOut(100)
}

pub_channel.bind('create_sale',function(data) {
    alert("vodoi");
    console.log(data);
})
</script>
