<h2 class="menu-label">THỰC ĐƠN</h2>
<br>
<div class="tabbable-panel">
  <div class="tabbable-line">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% @food_types.each_with_index do |type, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <a href="#type-<%= type.gsub(/\s/, '-') %>" aria-controls="type-<%= type.gsub(/\s/, '-') %>" role="tab" data-toggle="tab">
          <b><%= type %></b>
        </a>
      </li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <% @food_types.each_with_index do |type, index| %>
      <div role="tabpanel" class="tab-pane fade customer-tab <%= 'active in' if index == 0 %>" id="type-<%= type.gsub(/\s/, '-') %>">
        <div class="row">
          <% @foods['menu_items'].each do |food| %>
          <% if food['mtype'] == type %>
          <center>
            <div class="col-lg-4 col-md-4 col-sm-6 customer-service <%= food['state'].downcase == 'available' ? 'active' : '' %>" data-service-name="<%= food['name'] %>" data-service-id="<%= food['id'] %>" data-service-price="<%= food['unit_price'].to_i %>" data-service-type="food" data-service-price-format="<%= number_with_delimiter(food['unit_price'].to_i) %>">
              <% case food['state'].downcase %>
              <% when 'coming'%>
                <div class="cooming-soon"></div>
              <% when 'sold' %>
                <div class="limited"></div>
              <% end %>
              <div class="customer-service-img" style="background: url('<%= food['image']['url'] %>') no-repeat center center; background-color: #fff; background-size: 100%;"></div>
              <br>
              <div class='service-name'>
                <h4>
                  <%= food['name'] %>
                </h4>
              </div>
              <div class="col-lg-12">
                <h4 class='service-price'><%= number_with_delimiter(food['unit_price'].to_i) %> đ</h4>
                <h5><%= food['name'] %></h5>
              </div>
            </div>
          </center>
          <% end %>
          <% end %>
          <br><br>
        </div>
      </div>
      <% end %>
      <center>
        <div class='notice-customer-scroll'>
          <i class='fa fa-angle-double-down'></i>
        </div>
      </center>
    </div>
  </div>
</div>
<script type="text/javascript">
setInterval(function(){
  if(!check_scroll){
    $(".notice-customer-scroll").fadeIn(1000)
    setTimeout(function(){
      $(".notice-customer-scroll").fadeOut(1000)
    })
  }
}, 500)

$(".customer-tab").niceScroll({horizrailenabled: false, cursorcolor:"rgba(0, 0, 0, 0.2)", cursorwidth: "9px"})

check_scroll = false

$(".notice-customer-scroll").click(function(){
  $(".customer-tab").animate({scrollTop: 450},1000)
})

$('.customer-tab').bind("scroll", function(){
  // if(!check_scroll){
  //   $(".notice-customer-scroll").stop(true, true).fadeIn(700)
  //   setTimeout(function(){
  //     $(".notice-customer-scroll").fadeOut(1000)
  //   })
  // }
  // check_scroll = true
  height = $(".customer-tab").scrollTop();
  if(height > 200){
    $('.notice-customer-scroll').stop(true).fadeOut(800)
    check_scroll = true
  }
  else{
    console.log(height)
    check_scroll = false
    $('.notice-customer-scroll').fadeIn(800)
  }
});
</script>
