<table class="table table-bordered table-order-pending table-order">
  <thead>
    <tr>
      <th style="width: 25%">
        <i class='fa fa-desktop' style='font-size: 25px; padding-top: 10px; position: relative'></i>
      </th>
      <th style="width: 75%;">
        Số tiền cần thu
      </th>
    </tr>
  </thead>
  <tbody>
    <% @sales_pending.each do |sale| %>
    <tr data-target="#order-action-dropdown-<%= sale['id'] %>" data-toggle="dropdown" class="order-row <%= 'success' if sale['state'] == 'pending' %>" sale-id='<%= sale['id'] %>' id="sale-<%= sale['id'] %>">
      <td class="order-com">
        <%= sale['customer']['email'] %>
      </td>
      <td class="order-price">
        <div id="order-action-dropdown-<%= sale['id'] %>" class="btn-group order-action pull-right" style="margin-top: 12px">
          <button type="button" data-target="#order-action-dropdown-<%= sale['id'] %>" style="padding-bottom: 2px;" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class='fa fa-caret-down' style='font-size: 18px'></i>
          </button>
          <ul class="dropdown-menu">
            <li class='<%= sale['state'] == 'init' ? 'active' : '' %>'>
              <a class='btn-go-to-payment' <%= "data-remote=true" if sale['state'] == 'init' %> href="<%= sale['state'] == 'init' ? go_for_payment_waiter_pages_path(sale_id: sale['id']) : 'javascript:;' %>">Đi thu tiền</a>
            </li>
            <li class='<%= sale['state'] == 'pending' ? 'active' : '' %>'>
              <a class='btn-verify-payment' <%= "data-remote=true" if sale['state'] == 'pending' %> href="<%= sale['state'] == 'pending' ? verify_payment_waiter_pages_path(sale_id: sale['id']) : 'javascript:;' %>">Đã thu tiền</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class='active'><a href="javascript:;" class="btn-order-details" sale-id="<%= sale['id'] %>">Xem chi tiết</a></li>
          </ul>
        </div>
        <div class="total-price" style="">
          <span class='price'>
            <%= number_with_delimiter((sale['food_sale_menu_items_details'].map{|a| a['sum'].to_i}.reduce(:+) || 0 rescue 0) + (sale['drink_sale_menu_items_details'].map{|a| a['sum'].to_i}.reduce(:+) || 0 rescue 0) + (sale['service_sale_menu_items_details'].map{|a| a['sum'].to_i}.reduce(:+) || 0 rescue 0)) %>
          </span>
          <span style='color: #999'>đ</span>
        </div>
        <small class="pull-left order-created-at" style='margin-top: 3px; margin-left: 1px'>
          Gọi lúc: <%= (sale['created_at'].to_datetime + 7.hours).strftime("<b>%H:%M</b> %d/%m/%Y").html_safe %>
        </small>
      </td>
    </tr>
    <% end %>
    <tr class="no-pending-orders no-orders">
      <td colspan="3">
        <div class="alert alert-warning">Tạm thời không có order mới.</div>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function () {
  if($(".table-order-pending .order-row").length > 0){
    $(".notify-order-pending").fadeIn(0)
    $(".no-pending-orders").fadeOut(0)
  }
  else{
    $(".notify-order-pending").fadeOut(0)
    $(".no-pending-orders").fadeIn(0)
  }
});

$(".table-order-pending").on("click", ".order-row", function(){
  $(".order-row").removeClass("select-now")
  if($(this).hasClass("select-now"))
  { 
    $(this).addClass("remove-now")
  }
  else{
    $(this).addClass("select-now")
  }
})

$(".table-order-pending").on("click", ".btn-order-details", function(){
  sale_id = $(this).attr("sale-id")
  $('.launch-modal').html("<%=j render 'waiter_pages/modal_sale_details' %>")
  $('#modal-sale-details').attr("sale-id", sale_id)
  $("#modal-sale-details").modal({
    keyboard: true,
    backdrop: 'static'
  })
})

$(".table-order-pending").on("click", ".active .btn-verify-payment", function(){
  $(this).parents(".order-row").remove()
  set_notifications_number()
})

staff_channel.bind("create_sale",function(data) {
  $(function(){
    var notice = pop_notify({
      text: "Order mới từ " + data['sale']['customer']['email'],
    });

    append_order_init_row(data)
    set_notifications_number()
  });
});

staff_channel.bind("next_state_sale",function(data) {
  if(data['sale']['state'] == "pending") {
    $(function(){
      var notice = pop_notify({
        text: "Order " + data['sale']['id'] + " từ " + data['sale']['customer']['email'] + " đang được đi lấy tiền",
      });

      set_order_pending_row(data)

      user_id = "<%= current_user['id'] %>"
      if(user_id != data['sale']['pender_id']){
        sale_id = data['sale']['id']
        $(".order-row[sale-id="+sale_id+"]").remove()
        set_notifications_number()
        if($('.table-order-pending .order-row').length == 0)
        {
          $(".no-pending-orders").fadeIn(100)
        }
      }

    });
  }
  if(data['sale']['state'] == "processing") {
    sale_id = data['sale']['id']
    $(".order-row[sale-id="+sale_id+"]").remove()
    set_notifications_number()
  }
});

function append_order_init_row(data){
  sale_id = data['sale']['id']
  html = "<%=j render 'order_init_template' %>"
  $(".no-pending-orders").before(html)
  $(".order-init-template").attr("id", "sale-" + sale_id)
  $(".order-init-template").attr("sale-id", sale_id)
  $(".order-init-template .order-com").text(data['sale']['customer']['email'])

  $(".order-init-template .btn-go-to-payment").parent("li").addClass("active")

  $(".order-init-template").attr("data-target", "#order-action-dropdown-"+sale_id)

  $(".order-init-template").dropdown()

  $(".order-init-template .order-action button").attr("data-target", "#order-action-dropdown-"+sale_id)

  $(".order-init-template .order-action").attr("id", "order-action-dropdown-"+sale_id)

  $(".order-init-template .btn-go-to-payment").attr("href", "/waiter_pages/go_for_payment?sale_id="+sale_id)

  $(".order-init-template .total-price .price").text(number_format(data['sale']['total_price']))

  $(".order-init-template .order-created-at").html("Gọi lúc: " + data['sale']['format_created_at'])

  $(".order-init-template").removeClass("order-init-template")

  $(".order-row[sale-id="+sale_id+"]").click(function(){
    $(".order-row").removeClass("select-now")
    if($(this).hasClass("select-now"))
    { 
      $(this).addClass("remove-now")
    }
    else{
      $(this).addClass("select-now")
    }
  })

  $(".order-row[sale-id="+sale_id+"] .btn-order-details").click(function(){
    $('.launch-modal').html("<%=j render 'waiter_pages/modal_sale_details' %>")
    $('#modal-sale-details').attr("sale-id", sale_id)
    $("#modal-sale-details").modal({
      keyboard: true,
      backdrop: 'static'
    })
  })

  $(".order-row[sale-id="+sale_id+"] .btn-go-to-payment").click(function(){
    $.ajax({
      type: "GET",
      url: $(this).attr('href')
    });
  })

  $(".order-row[sale-id="+sale_id+"] .btn-verify-payment").click(function(){
    $.ajax({
      type: "GET",
      url: $(this).attr('href')
    });
  })
}

function set_order_pending_row(data){
  sale_id = data['sale']['id']

  $(".order-row[sale-id="+sale_id+"] .btn-go-to-payment").parent("li").removeClass("active")

  $(".order-row[sale-id="+sale_id+"] .btn-go-to-payment").attr("href", "javascript:;")

  $(".order-row[sale-id="+sale_id+"] .btn-go-to-payment").removeAttr("data-remote")

  $(".order-row[sale-id="+sale_id+"] .btn-verify-payment").parent("li").addClass("active")

  $(".order-row[sale-id="+sale_id+"]").addClass("success")

  $(".order-row[sale-id="+sale_id+"] .btn-verify-payment").attr("href", "/waiter_pages/verify_payment?sale_id="+sale_id)

  $(".order-row[sale-id="+sale_id+"] .btn-verify-payment").attr("data-remote", "true" )

  $("#modal-sale-details").modal('hide')

  $(".modal-backdrop").remove()
}
</script>
