<table class="table table-bordered table-order-ready table-order">
  <thead>
    <thead>
      <tr>
        <th style="width: 25%">
          <i class='fa fa-desktop' style='font-size: 25px; padding-top: 10px; position: relative'></i>
        </th>
        <th style="width: 75%;">
          Cần giao cho khách
        </th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% @sales_ready.each do |sale| %>
    <tr class="order-row <%= sale['has_ready_sale_menu_item'] ? 'visible' : 'hidden' %>" sale-id='<%= sale['id'] %>' id="sale-<%= sale['id'] %>">
      <td class="order-com">
        <%= sale['customer']['email'] %> <br />
        <%= sale['invoice_number'] %>
        <%= render partial: 'order_com' %>
      </td>
      <td class='order-lists'>
        <table class="table table-bordered">
          <tbody>
            <% sale['food_sale_menu_items_details'].each do |item| %>
            <%= render 'sale_menu_item', item: item, not_services: true %>
            <% end %>
            <% sale['drink_sale_menu_items_details'].each do |item| %>
            <%= render 'sale_menu_item', item: item, not_services: true %>
            <% end %>
            <% sale['service_sale_menu_items_details'].each do |item| %>
            <%= render 'sale_menu_item', item: item, not_services: false %>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    <% end %>
    <tr class="no-ready-orders no-orders">
      <td colspan="4">
        <div class="alert alert-warning">Tạm thời không có order mới.</div>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function () {
  if($(".table-order-ready .order-row.visible").length > 0){
    $(".notify-order-ready").fadeIn(0)
    $(".no-ready-orders").fadeOut(0)
  }
  else{
    $(".notify-order-ready").fadeOut(0)
    $(".no-ready-orders").fadeIn(0)
  }
});

staff_channel.bind("next_state_sale",function(data) {
  if(data['sale']['state'] == "processing") {
    $(function(){
      var notice = pop_notify({
        text: "Order " + data['sale']['id'] + " từ " + data['sale']['customer']['email'] + " đã thu tiền",
      });
      append_order_processing_row(data)
      set_notifications_number()
    });
  }
});

staff_channel.bind("next_state_sale_menu_item",function(data) {
  if(data['sale_menu_item']['state'] == "processing") {
    $(function(){
      $("#modal-redo-sale-item").modal('hide')
      $(".modal-backdrop").remove()
      set_order_processing_row(data)
      set_notifications_number()
    });
  }
  if(data['sale_menu_item']['state'] == "done") {
    $(function(){
      var notice = pop_notify({
        text: data['sale_menu_item']['customer']['email'] + " đã làm xong <b>" + parseInt(data['sale_menu_item']['quantity']) + " " + data['sale_menu_item']['menu_item_details']['name'] + "</b>",
      });

      set_order_done_row(data)
      set_notifications_number()
    });
  }
  else if(data['sale_menu_item']['state'] == "delivering") {
    $(function(){
      var notice = pop_notify({
        text: "Đang mang <b>" + parseInt(data['sale_menu_item']['quantity']) + " " + data['sale_menu_item']['menu_item_details']['name']+ "</b> lên cho " + data['sale_menu_item']['customer']['email'],
      });

      set_order_delivering_row(data)

    });
  }
  else if(data['sale_menu_item']['state'] == "delivered") {
    $(function(){
      var notice = pop_notify({
        text: "Đã giao <b>" + parseInt(data['sale_menu_item']['quantity']) + " " + data['sale_menu_item']['menu_item_details']['name']+ "</b> cho " + data['sale_menu_item']['customer']['email'],
      });

      set_order_delivered_row(data)
      set_notifications_number()

    });
  }
});

$(".table-order-ready").on("click", ".btn-redo", function(){
  var item_id = $(this).parents(".menu-item-row").attr("item-id")
  $('.launch-modal').html("<%=j render 'waiter_pages/modal_redo_sale_item' %>")
  $('#modal-redo-sale-item').attr("item-id", item_id)
  $("#modal-redo-sale-item").modal({
    keyboard: true,
    backdrop: 'static'
  })
})

function set_order_done_row(data){
  var sale_item_id = data['sale_menu_item']['id']
  var sale_id = data['sale_menu_item']['sale_id']
  $(".order-row[sale-id="+sale_id+"]").removeClass("hidden").addClass("visible")

  $(".menu-item-row[item-id="+sale_item_id+"]").addClass("danger")

  $(".menu-item-row[item-id="+sale_item_id+"] .item-action-at").html("Xong lúc: " + data['sale_menu_item']['format_done_at'])

  $(".menu-item-row[item-id="+sale_item_id+"] .item-action").addClass("visible").removeClass("hidden")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").parent("li").addClass("active")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").attr("href", "/waiter_pages/go_deliver?sale_menu_id="+sale_item_id)

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").attr("data-remote", true)
}

function set_order_processing_row(data){
  var sale_item_id = data['sale_menu_item']['id']
  var sale_id = data['sale_menu_item']['sale_id']

  $(".menu-item-row[item-id="+sale_item_id+"]").removeClass().addClass("menu-item-row")

  $(".menu-item-row[item-id="+sale_item_id+"] .item-action-at").html("Đang chờ")

  $(".menu-item-row[item-id="+sale_item_id+"] .item-action").addClass("hidden").removeClass("visible")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").parent("li").addClass("active")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").attr("href", "/waiter_pages/go_deliver?sale_menu_id="+sale_item_id)

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").attr("data-remote", true)
}

function set_order_delivering_row(data){
  var sale_item_id = data['sale_menu_item']['id']
  $(".menu-item-row[item-id="+sale_item_id+"]").removeClass("danger").addClass("warning")

  $(".menu-item-row[item-id="+sale_item_id+"] .item-action-at").html("Đi Giao lúc: " + data['sale_menu_item']['format_delivering_at'])
  if ("<%= current_user['id'] %>" != data['sale_menu_item']['deliverer_id']) {
    $(".menu-item-row[item-id="+sale_item_id+"] [id*=item-action-dropdown]").remove()
  }
  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").parent("li").removeClass("active")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").attr("href", "javascript:;")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-go-deliver").removeAttr("data-remote")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-done-deliver").parent("li").addClass("active")

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-done-deliver").attr("href", "/waiter_pages/done_deliver?sale_menu_id="+sale_item_id)

  $(".menu-item-row[item-id="+sale_item_id+"] .btn-done-deliver").attr("data-remote", true)

}

function set_order_delivered_row(data){

  var sale_item_id = data['sale_menu_item']['id']
  var sale_id = data['sale_menu_item']['sale_id']

  $(".menu-item-row[item-id="+sale_item_id+"]").removeClass("warning").addClass("success")

  $(".menu-item-row[item-id="+sale_item_id+"] .item-action-at").html("Giao xong lúc: " + data['sale_menu_item']['format_delivered_at'])

  $(".menu-item-row[item-id="+sale_item_id+"] .item-action").addClass("hidden")

  if($(".order-row[sale-id="+sale_id+"] .menu-item-row").length == $(".order-row[sale-id="+sale_id+"] .menu-item-row.success").length){
    $(".order-row[sale-id="+sale_id+"]").remove()
    // TODO double alert here
    //alert("Order " + sale_id + " từ máy " + data['sale_menu_item']['sale']['customer_id'] + " đã mang hết lên cho khách")
  }
}

function append_order_processing_row(data){
  var sale_id = data['sale']['id']
  var html = "<%=j render 'order_ready_template' %>"
  $(".no-ready-orders").before(html)
  $(".order-ready-template").attr("id", "sale-" + sale_id)
  $(".order-ready-template").attr("sale-id", sale_id)
  $(".order-ready-template .order-com").text(data['sale']['customer']['email'])
  $(".order-ready-template .order-com").append("<%=j render partial: 'order_com' %>")
  if(data['sale']['has_ready_sale_menu_item'])
    $(".order-ready-template").addClass("visible")
  else
    $(".order-ready-template").addClass("hidden")

  data['sale']['food_sale_menu_items_details'].forEach(function(item){
    set_sale_menu_item(item)
  })

  data['sale']['drink_sale_menu_items_details'].forEach(function(item){
    set_sale_menu_item(item)
  })

  data['sale']['service_sale_menu_items_details'].forEach(function(item){
    set_sale_menu_item(item)
  })

  $(".order-ready-template").removeClass("order-ready-template")
}

function set_sale_menu_item(item){
  var item_id = item['id']
  var menu_item_template = "<%=j render 'sale_menu_item_template' %>"
  var class_menu_item = get_class_menu_item(item['state'])
  var class_item_action = "hidden"
  if(["done", "delivering"].indexOf(item['state']) > -1){
    class_item_action = "visible"
  }

  $(".order-ready-template .order-lists .table tbody").append(menu_item_template)

  $(".menu-item-template").attr("data-target", "#item-action-dropdown-"+item_id).attr("data-toggle", "dropdown").attr("item-id", item_id).attr('id', item_id).addClass(class_menu_item)

  $(".menu-item-template .menu-item-name .item-action").attr("id", "item-action-dropdown-"+item_id).addClass(class_item_action)

  $(".menu-item-template .menu-item-name .item-action button").attr("data-target", "#item-action-dropdown-"+item_id)

  $(".menu-item-template .menu-item-name .item-action .btn-go-deliver").parent("li").addClass("active")

  $(".menu-item-row[item-id="+item_id+"] .btn-go-deliver").attr("href", "/waiter_pages/go_deliver?sale_menu_id="+ item_id).attr("data-remote", true)

  if(item["menu_item_details"]['klass'] == "service"){
    $(".menu-item-row[item-id="+item_id+"] .dropdown-menu .divider").remove()
    $(".menu-item-row[item-id="+item_id+"] .dropdown-menu .btn-redo").parent("li").remove()
  }

  $(".menu-item-template .menu-item-name .item-name").html(item['menu_item_details']['name'] + " <strong class='item-quantity'>("+parseInt(item['quantity'])+")</strong>")

  $(".menu-item-template .menu-item-name .item-action-at").html(get_item_action_at(item))

  $(".menu-item-template").removeClass("menu-item-template")
}

function get_class_menu_item(state)
{
  switch(state) {
    case "done":
    return "danger"
    break;
    case "delivering":
    return "warning"
    break;
    case "delivered":
    return "success"
    break;
    default:
    return ""
  }
}

function get_item_action_at(item){
  switch(item['state']) {
    case "done":
    return "Xong lúc: " + item['format_done_at']
    break;
    case "delivering":
    return "Đi giao lúc: " + item['format_delivering_at']
    break;
    case "delivered":
    return "Giao xong lúc: " + item['format_delivered_at']
    break;
    default:
    return "Đang chờ"
  }
}
</script>
