<div class="col-md-9">
  <table class="table table-bordered" id="waiter_sale_list">
    <thead>
        <tr>
            <th id="num" scope="col">
                #
            </th>
            <th id="com" scope="col">
                <abbr title="Computer Number">Com</abbr>
            </th>
            <th id="State" scope="col">
                Items
            </th>
            <th id="villa" scope="col">
                In charge
            </th>
        </tr>
    </thead>
    <tbody>
      <% @sale.each_with_index do |sale,index| %>
        <tr id="sale-<%=sale['id']%>">
          <td><%= index + 1 %></td>
          <td><%= sale['customer_id']%></td>
          <td>
            <table class="table table-striped">
              <tr>
                <th>Tên</th>
                <th><Description/th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
                <th>Trạng thai</th>
              </tr>
              <% sale['sale_menu_items_details'].each_with_index do |item| %>
                <tr>
                  <td><%= item['name']%></td>
                  <td><%= item['description']%></td>
                  <td><%= item['quantity']%></td>
                  <td><%= item['sum']%></td>
                  <td><%= item['state']%></td>
                </tr>
              <% end %>
              <tr>
                <td colspan='3'> Tổng tiền :</td>
                <th> <%= sale['sale_menu_items_details'].inject(0) {|sum,m| sum += m['sum'].to_f} %> </th>
            </table>
          </td>
          <td>
            <a href="<%= go_for_payment_waiter_pages_path + '/?sale_id=' + sale['id'].to_s%>" data-remote= "true" type="button" class="btn btn-sm btn-primary">Đi lấy tiền</a>
            <a href="<%= verify_payment_waiter_pages_path + '/?sale_id=' + sale['id'].to_s%>" data-remote= "true" type="button" class="btn btn-sm btn-danger">Đã lấy tiền</a>
            <a href="<%= go_deliver_waiter_pages_path + '/?sale_id=' + sale['id'].to_s%>" data-remote= "true" type="button" class="btn btn-sm btn-info">Bắt đầu giao</a>
            <a href="<%= done_deliver_waiter_pages_path + '/?sale_id=' + sale['id'].to_s%>" data-remote= "true" type="button" class="btn btn-sm btn-success">Xong</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-3" >
  <div id='notify-list' style="height: 1000px; position: relative; overflow: auto;">
  </div>
</div>

<script>
var staff_channel = dispatcher.subscribe('staff');
var stack_context = {"dir1": "down", "dir2": "left", "push": "bottom", "spacing1": 5, "spacing2": 5,"context": $("#notify-list")}
PNotify.desktop.permission();

staff_channel.bind("create_sale",function(data) {
  var notice = pop_notify({
      title: "test",
      text: "Order mới từ máy " + data['sale']['customer_id'],
      type: "success",
      stack: stack_context,
  });
  notice.get().click(function(e) {
      notice.remove();
    //move to element
  });
  var desktop_notice = pop_desktop_notify({
      title: "test",
      text: "Order mới từ máy " + data['sale']['customer_id'],
  });
  desktop_notice.get().click(function(e) {
    //move to element;
    console.log('123');
  });
});

staff_channel.bind("next_state_sale",function(data) {
  if(data['sale']['state'] == "done") {
    $(function(){
      var notice = pop_notify({
          title: "test",
          text: "Order " + data['sale']['id'] + " từ máy " + data['sale']['customer_id'] + "làm xong",
          stack: stack_context,
      });
      notice.get().click(function(e) {
        notice.remove();
        //move to element
      });
      var desktop_notice = pop_desktop_notify({
          title: "test",
          text: "Order " + data['sale']['id'] + " từ máy " + data['sale']['customer_id'] + "làm xong",
      });
      desktop_notice.get().click(function(e) {
        //move to element
      });
    });
  }
  else if(data['sale']['state'] == "delivering") {
    $(function(){
      //Delete from others's wait_to_deliver table
      if (true) // test if this is current_user
        $("#sale-" + data['sale']['id']).remove();
      else
        // Đổi status nút
        console.log("đổi nút");
    });
  }
  else if(data['sale']['state'] == "delivered") {
    $(function(){
      //Delete from others's wait_to_deliver table
      if (false) // test if this is current_user
        $("#sale-" + data['sale']['id']).remove();
      else
        // Đổi status nút
        console.log("đổi nút");
    });
  }
});

</script>
