<div id="modal-edit-item" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Item</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(item_path(item['id']), method: :patch, multipart: true, class: "form-horizontal", remote: true, id: "item-edit-form") do %>

          <div class="form-group">
            <%= label_tag 'Name', nil, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag 'item[name]', item["name"], class: "form-control" %>
            </div>
          </div>

        <div class="form-group">
            <%= label_tag 'Description', nil, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag 'item[description]', item["name"], class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'Unit', nil, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag 'item[unit]', item["unit"], class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag 'Price per unit', nil, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= number_field_tag 'item[unit_price]', item["unit_price"], class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= submit_tag 'update', class: "btn btn-default", style: " visibility: hidden;" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="disableUnchangedFields();$('#item-edit-form').submit()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $('#item-edit-form .submit-form').hide();
  $(":input").blur(MarkAsChanged).change(MarkAsChanged);
</script>
