<script type="text/javascript">
var staff_channel = dispatcher.subscribe('staff');
var stack_context = {"dir1": "down", "dir2": "left", "push": "bottom", "spacing1": 5, "spacing2": 5}
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="chef-pages">
        <div class="row tabs-row">
          <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4 no-padding">
            <div class="tab-list active" aria-control="tab-order-cooking">
              ORDER CẦN LÀM <label class="badge badge-danger notify-order-processing notify-order"><%= @sales_processing.count %></label>
            </div>
          </div>
          <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4 no-padding">
            <div class="tab-list" aria-control="tab-order-done">
              ORDER ĐANG LÀM <label class="badge badge-danger notify-order-cooking notify-order"><%= @sales_cooking.count %></label>
            </div>
          </div>
          <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4 no-padding">
            <div class="tab-list" aria-control="tab-histories">
              LỊCH SỬ
            </div>
          </div>
        </div>
        <div class="row tabs-content">
          <div class="col-sm-12">
            <div class="marquee-notifications">
              <div class="marquee-notifications-text">
                <% @sales.each do |sale| %>
                <% case sale['state'] %>
                <% when "processing" %>
                <% if current_user['id'] == sale['pender_id'] %>
                <span sale-id="<%= sale['id'] %>" class="notification-text"><%= "Máy x" %> vừa có order, chuẩn bị để làm cho khách</span>
                <% end %>
                <% when "cooking" %>
                <span sale-id="<%= sale['id'] %>" class="notification-text"><%= "Máy x" %> bắt đầu tiến hành làm order</span>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="tab-content" id="tab-order-cooking">
              <%= render 'order_processing' %>
            </div>
            <div class="tab-content" id="tab-order-done">
              <%= render 'order_cooking' %>
            </div>
            <div class="tab-content" id="tab-histories">
              <%= render 'order_histories' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container copyright'>
  <small>Copyright <i class='fa fa-copyright'></i> ABCDEF</small>
</div>
<div class="panel-notifications <%= 'active' if @sales_cooking.count + @sales_processing.count > 0 %> <%= 'minimize' if @sales_cooking.count + @sales_processing.count == 0 %>">
  <div class='panel-notification-heading'>
    <label class="badge badge-danger notify-order notify-order-all"><%= @sales_cooking.count + @sales_processing.count %></label>
    <span class="heading-title">Thông báo</span>
    <i class="fa fa-caret-down"></i>
  </div>
  <div class="panel-notification-body">
    <% @sales.each do |sale| %>
    <% if ['processing'].include?(sale['state']) %>
    <div sale-id='<%= sale['id'] %>' class='notification-content'>
      <div class='row'>
        <div class='col-lg-3 col-md-3 col-sm-3 no-padding'>
          <center>
            <i class='fa fa-desktop'></i>
            <br>
            <label class='label label-primary computer-name'><%= "Máy x" %>
            </label>
          </center>
        </div>
        <div class='col-lg-9 col-md-9 col-sm-9 no-padding'>
          <div class='alert alert-info'>
            Có <b>ORDER MỚI</b>, chuẩn bị để <b>làm</b> cho khách.
          </div>
        </div>
      </div>
    </div>
    <% elsif ['cooking'].include?(sale['state']) %>
    <div sale-id='<%= sale['id'] %>' class='notification-content'>
      <div class='row'>
        <div class='col-lg-3 col-md-3 col-sm-3 no-padding'>
          <center>
            <i class='fa fa-desktop'></i>
            <br>
            <label class='label label-primary computer-name'><%= "Máy x" %>
            </label>
          </center>
        </div>
        <div class='col-lg-9 col-md-9 col-sm-9 no-padding'>
          <div class='alert alert-danger'>
            Bắt đầu tiến hành <b>làm order</b> cho khách
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<script>
$(document).ready(function () {
  if($(".table-order-processing .order-row").length + $(".table-order-cooking .order-row").length > 0){
    $(".notify-order-all").fadeIn(0)
  }
  else{
    $(".notify-order-all").fadeOut(0)
  }
});

$(".panel-notification-body").niceScroll({horizrailenabled: false, cursorcolor:"rgba(0, 0, 0, 0.5)", cursorwidth: "9px"})

var marquee = $('div.marquee-notifications');
marquee.each(function() {
  var mar = $(this),indent = mar.width();
  mar.marquee = function() {
    indent--;
    mar.css('text-indent',indent);
    if (indent < -1 * mar.children('div.marquee-notifications-text').width()) {
      indent = mar.width();
    }
  };
  mar.data('interval',setInterval(mar.marquee, 8));
});

$(".tab-list").click(function(){
  $(".tab-list").removeClass("active")
  $(this).addClass("active")
  tab_id = $(this).attr("aria-control")
  $(".tab-content").fadeOut(0)
  $("#"+tab_id).fadeIn(300)
})

$(".panel-notification-heading").click(function(){
  if($(this).parents(".panel-notifications").hasClass("minimize")){
    $(this).children(".fa").addClass("fa-caret-down").removeClass("fa-caret-up")
    $(this).parents('.panel-notifications').removeClass("minimize")
  }
  else{
    $(".panel-notification-heading .fa").parents(".panel-notifications").addClass("minimize")
    $(this).children(".fa").removeClass("fa-caret-down").addClass("fa-caret-up")
    $(this).parents('.panel-notifications').addClass("minimize")
  }
})
</script>
