<% @sales_processing.each do |sale| %>
<article class="order order-processing" sale-id="<%= sale['id'] %>">
  <div class="row order-info">
    <div class="col-lg-12">
      <label class="label label-primary sale-name"><i class='fa fa-desktop'></i>Máy <%= sale['customer_id'] %></label>
      <span class="sale-code sale-created-at pull-right">
        MÃ HĐ: <%= sale['invoice_number'] %>
        <br>
        NGÀY: <%= (sale['created_at'].to_datetime + 7.hours).strftime("%d/%m/%Y") %>
      </span>
      <br><br>
    </div>
  </div>
  <div class="row service-lists">
    <div class="col-lg-12">
      <ul class="services">
        <% sale['drink_sale_menu_items_details'].each do |data| %>
        <% if ['processing', 'cooking'].include? data['state'] %>
        <li class="service <%= data['state'] == 'cooking' ? 'service-cooking' : 'service-processing' %>" service-id="<%= data['id'] %>">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
              <% if data['state'] == 'processing' %>
              <span class='list-style'>-</span>
              <% elsif data['state'] == 'cooking' %>
              <input type='checkbox' class='check-service-done'>
              <% end %>
              <span class='service-name'>
                <%= data['menu_item_details']['name'] %>
              </span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <label class='label label-danger service-quantity pull-right'>
                <%= data['quantity'].to_i %>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class='service-description'>
                <%= data['description'] %>
              </p>
            </div>
          </div>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row order-notes">
    <div class="col-lg-12">
      <p>
        <b>Ghi chú:</b> <span class="note-text"></span>
      </p>
    </div>
  </div>
  <div class="row order-actions">
    <div class="col-lg-12">
      <a href="javascript:;" sale-id="<%= sale['id'] %>" class="btn btn-primary btn-block btn-start-cooking <%= 'disabled' if not sale['drink_sale_menu_items_details'].any?{|f| f['state'] == 'processing'} %>">
        Bắt Đầu Làm
      </a>
    </div>
  </div>
</article>
<% end %>