<!DOCTYPE html>
<html>
<head>
  <title>CybercafeproFrontend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/socket_pattern' %>
</head>
<body>
<% flash.each do |key, value| %>
  <div class="text-center <%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<%= yield %>
</body>
<script type="text/javascript">
$(".show-tooltip").tooltip()
</script>
</html>
