<!DOCTYPE html>
<html>
<head>
  <title>CybercafeproFrontend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%# render 'layouts/socket_pattern' %>
</head>
<body class='customer-ordering'>
<%= yield %>
<!--
<div class='adv-banner adv-banner-left'>
  <a href="#">
    <img src="http://lottecinemavn.com/getattachment/4b46d586-2543-467f-83b8-9abefa07300d/NodeAlias.aspx?width=&height=" style='width: 120px'>
  </a>
</div>
<div class='adv-banner adv-banner-right'>
  <a href="#">
    <img src="http://lottecinemavn.com/getattachment/10b4cc89-21f0-4b0b-9556-339e9cd4ccdf/NodeAlias.aspx?width=&height=" style='width: 120px'>
  </a>
</div>
-->
<div class="container">
<%= render 'layouts/footer' %>
</div>
<div class="launch-modal"></div>
</body>
</html>

