<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CybercafeproFrontend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="text-center <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  <div id='side-nav-mg' class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <% if current_user['current_role'] == "Manager" %>
      <li class="<%= 'active' if @mg_page == 'payment' rescue ''%> ">
        <a class="href" href="<%= payment_list_manager_pages_path %>">
          Danh sách hoá đơn
        </a>
      </li>
      <li class="<%= 'active' if @mg_page == 'sale' rescue ''%> ">
        <a class="href" href="<%= sale_list_manager_pages_path %>">
          Doanh số ban hàng
        </a>
      </li>
      <li class="<%= 'active' if @mg_page == 'staff' rescue ''%> ">
        <a class="href" href="<%= user_list_manager_pages_path %>">
          Nhân viên
        </a>
      </li>
      <li class="<%= 'active' if @mg_page == 'shift' rescue ''%> ">
        <a class="href" href="<%= shift_list_manager_pages_path %>">
          Shift
        </a>
      </li>
      <li class="<%= 'active' if @mg_page == 'accounting' rescue ''%> ">
        <a class="href" href="<%= accounting_manager_pages_path %>">
          Accounting
        </a>
      </li>
      <% end %>
      <% if ["Manager", "Chef", "Bartender"].include?(current_user['current_role']) %>
      <li class="<%= 'active' if @mg_page == 'menu_item' rescue ''%> ">
        <a class="href" href="<%= menu_item_list_manager_pages_path %>">
          Menu phục vụ
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <div id='mg-content' class="col-md-10">
    <%= yield %>
  </div>
  <div id="launch-modal"></div>
</body>
</html>
